<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qin.eduservice.mapper.EduCourseMapper">
    <select id="getPublishCourseInfo" resultType="com.qin.eduservice.entity.vo.CoursePublishVo">

        select
        ec.id,
        ec.title,
        ec.price,
        ec.lesson_num lessonNum,
        et.name teacherName,
        ec.cover,
        es.title subjectLevelOne,
        es2.title subjectLevelTwo
        from
        edu_course ec
        left join edu_course_description ecd
        on ec.id = ecd.id
        left join edu_teacher et
        on ec.teacher_id = et.id
        left join edu_subject es
        on es.id = ec.subject_parent_id
        left join edu_subject es2
        on ec.subject_id = es2.id

        where ec.id = #{courseId}
    </select>
</mapper>
